{% extends "analytics/base.html" %}
<!DOCTYPE html>
<html>
{% block content %}
  <head>
    <title>Badminton Statistics</title>
  </head>
  <body>
	  <div id="information">
		  Welcome on our badminton website. This page is based on <a href="http://bwf.tournamentsoftware.com/home.aspx">BWF</a> and helps to get an overview for famous badminton players. Have fun!
		  <br><br>
		  Additional information:
		  <br>
		  Currently statistics for gender distribution, left vs. right handers, nationality, club and coaches are supported.
		  <br>
		  If you are familiar with PostgreSQL you can write your own queries for custom concerns by using the Query Editor. 
	  </div>  
  </body> 
{% endblock %}
</html>