{% extends "analytics/base.html" %}
<!DOCTYPE html>
<html>
{% block content %}
  <head>
    <title>Player Profile</title>
  </head>
  <body>
    {% if player %}
    <img src="{{ image.url }}" id = "playerImage">
    <table id="playerInformationLeft">
	  <tr><td>ID:</td><td>{{ player.id }}</td></tr>
      <tr><td>Name:</td><td>{{ player.name }}</td></tr>
      <tr><td>Firstname:</td><td>{{ player.firstname }}</td></tr>
      <tr><td>Birthdate:</td><td>{{ player.birthdate }}</td></tr>
      <tr><td>Gender:</td><td><a href="/search/?gender={{ player.gender }}">{{ player.gender }}</a></td></tr>
	  <tr><td>Disciplines:</td>
		<td>
		  {% for value in discipline %}
		  {{ value }}, 
		  {% endfor %}
		</td>
	  </tr>
	</table>
	<table id="playerInformationRight">
	  <tr><td>Hand:</td><td><a href="/search/?hand={{ player.hand }}">{{ player.hand }}</a></td></tr>
      <tr><td>Height:</td><td>{{ player.height }}</td></tr>
      <tr><td>Nationality:</td>
		<td>
		  {% if player.nationality %}<a href="/search/?nationality={{ player.nationality.id }}">{% endif %}
			{{ player.nationality }}
			{% if player.nationality %}</a>{% endif %}
		</td>
	  </tr>
      <tr><td>Club:</td>
		<td>
		  {% if player.club %}<a href="/search/?club={{ player.club.id }}">{% endif %}
			{{ player.club }}
			{% if player.club %}</a>{% endif %}
		</td>
      </tr>
      <tr><td>Coach:</td>
		<td>
		  {% if player.coach %}<a href="/search/?coach={{ player.coach.id }}">{% endif %}
			{{ player.coach }}
			{% if player.coach %}</a>{% endif %}
		</td>
      </tr>
	  <tr><td>Languages:</td>
		<td>
		  {% for value in language %}
		  {{ value }}, 
		  {% endfor %}
		</td>
	  </tr>
    </table>
    <a href="/player_update/{{ player.id }}" id = "updateProfile">Update Profile</a>
    {% else %}
    <p>Invalid Player selected.</p>
    {% endif %}
  </body> 
{% endblock %}
</html>
