{% extends "analytics/base.html" %}
<!DOCTYPE html>
<html>
{% block content %}
  <head>
    <title>Update Player Profile</title>
  </head>
  <body>
	{{ hallo }}
    <form action="." method="post" id="playerUpdateForm">
      {% csrf_token %}
	  <table>
		{% for field in form %}
		{% if field.value and field.value != "u" and field.value != "unknown" %}
		{{ field.as_hidden }}
		{% else %}
		<tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
		{% endif %}
		{% endfor %}
	  </table>
	  <br />
	  <input type="submit" value="Update" />
    </form>
  </body> 
{% endblock %}
</html>
