<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" 
	href="{% static 'analytics/style.css' %}" />
    <title>Player Profile</title>
  </head>
  <body>
    {% if player %}
    <ul>
      <li>ID: {{ player.id }}</li>
      <li>Name: {{ player.name }}</li>
      <li>Firstname: {{ player.firstname }}</li>
      <li>Birthdate: {{ player.birthdate }}</li>
      <li>Gender: {{ player.gender }}</li>
      <li>Hand: {{ player.hand }}</li>
      <li>Height: {{ player.height }}</li>
      <li>Nationality: {{ player.nationality }}</li>
      <li>Club: {{ player.club }}</li>
      <li>Coach: {{ player.coach }}</li>
    </ul> 
    {% else %}
    <p>Invalid Player selected.</p>
    {% endif %}
  </body> 
</html>
