{% extends "analytics/base.html" %}
{% load render_table from django_tables2 %}

<!doctype html>
<html>
  {% block content %}
  <head>
    <link rel="stylesheet" 
	  href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>
  </head>
  <body>
  	<div id = "searchSite">
    <h1>Players</h1>
    Here you can search for groups of players with the same properties or players you are interested in by specifying some parameters.
    <br><br>
    <div class="filter">
      {{ filter.form.non_field_errors }}
      <form action="" method="get">
	<table>
	  <tr>
	    <td>{{ filter.form.name.label_tag }}</td>
	    <td>{{ filter.form.name }}</td>
	    <td>{{ filter.form.firstname.label_tag }}</td>
	    <td>{{ filter.form.firstname }}</td>
	  </tr>
	  <tr>
	    <td>{{ filter.form.gender.label_tag }}</td>
	    <td>{{ filter.form.gender }}</td>
	    <td>{{ filter.form.hand.label_tag }}</td>
	    <td>{{ filter.form.hand }}</td>
	  </tr>
	  <tr>
	    <td>{{ filter.form.birthdate.label_tag }}</td>
	    <td>{{ filter.form.birthdate }}</td>
	    <td>{{ filter.form.height.label_tag }}</td>
	    <td>{{ filter.form.height }}</td>
	  </tr>
	  <tr>
	    <td>{{ filter.form.nationality.label_tag }}</td>
	    <td>{{ filter.form.nationality }}</td>
	    <td>{{ filter.form.style.label_tag }}</td>
	    <td>{{ filter.form.style }}</td>
	  <tr>
	    <td>{{ filter.form.birthplace_city.label_tag }}</td>
	    <td>{{ filter.form.birthplace_city }}</td>
	    <td>{{ filter.form.cur_residence_city.label_tag }}</td>
	    <td>{{ filter.form.cur_residence_city }}</td>
	  </tr>
	  <tr>
	    <td>{{ filter.form.club.label_tag }}</td>
	    <td>{{ filter.form.club }}</td>
	    <td>{{ filter.form.coach.label_tag }}</td>
	    <td>{{ filter.form.coach }}</td>
	  </tr>
	  <tr>
	    <td>{{ filter.form.debut_year.label_tag }}</td>
	    <td>{{ filter.form.debut_year }}</td>
	    <td>{{ filter.form.teammember_since.label_tag }}</td>
	    <td>{{ filter.form.teammember_since }}</td>
	  </tr>
	  <tr>
	    <td>{{ filter.form.start_competitive.label_tag }}</td>
	    <td>{{ filter.form.start_competitive }}</td>
		<td>{{ filter.form.language.label_tag }}</td>
		<td>{{ filter.form.language }}</td>
	  </tr>
	  <tr>
		<td>{{ filter.form.discipline.label_tag }}</td>
		<td>{{ filter.form.discipline }}</td>
	  </tr>
	  <tr><td /><td /><td><input type="submit" /></td><td><input type="reset" /><td></tr>
	</table>
      </form>
    </div>
    <div class="table">
      {% render_table table %}
    </div>
    </div>
  </body>
  {% endblock %}
</html>
