{% load staticfiles %}

<link rel="stylesheet" type="text/css" 
      href="{% static 'analytics/style.css' %}" />

{% if players %}
<h1>Players</h1>
<div class="filter">
  <form action="." method="post">
    <label for="name_free">Name: Freitext</label>
    <input type="text" name="name_free" />
    <br />
    <label for="birthdate_start">
      Birthdate between: Falls nur erstes Datum gegeben, dann exakt
    </label>
    <input type="date" name="birthdate_start" />
    <br />
    <label for="club_free">Club: Auswahl oder Freitext</label>
    <input type="text" name="club_free" />
    <br />
    <label for="language">Language: Auswahl</label>
    <select name="language">
      <option value="german">german</option>
    </select>
    <br />
    <label for="nationality">Nationality: Auswahl</label>
    <select name="nationality">
      <option value="germany">germany</option>
    </select>
    <br />
    Hand: Auswhal
    <br />
    Playstyle: Auswahl
    <br />
    <input type="submit" name="submit" value="search" />
  </form>
</div>
<div class="datagrid">
  <table>
    <thead>
      <tr>
	<th>Name</th>
	<th>Firstname</th>
	<th>Birthdate</th>
      </tr>
    </thead>
    {% for player in players %}
    <tbody>
      <tr>
	<td><a href="/analytics/{{ player.id }}">{{ player.name }}</a></td>
	<td>{{ player.firstname }}</td>
	<td>{{ player.birthdate }}</td>
      </tr>
    </tbody>
    {% endfor %}
    <tfoot>
	<tr>
	  <td colspan="3">
	    <div id="paging">
	      <ul>
		<li>
		  <form action="." method="get">
		    <label for="paginate_by">Players per page:</label>
		    <select onchange="this.form.submit()" name="paginate_by">
		      {% for value in paginate_by_list %}
		      <option value="{{ value }}" 
			      {% if paginate_by == value %}
			      selected="selected"
			      {% endif %}>{{ value }}
		      </option>
		      {% endfor %}
		    </select>
		  </form>
		  {% if is_paginated %}
		</li>
		<li>
	          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		</li>
		<li>
	  	  <form action="/analytics/search" method="get">
		    <input type="hidden" name="paginate_by" 
			   value="{{ paginate_by }}" />
		    {% if page_obj.has_previous %}
	  	    <input type="hidden" name="page" 
			   value="{{ page_obj.previous_page_number }}" />
		    {% endif %}
	  	    <input type="submit" name="submit" value="previous" 
			   {% if not page_obj.has_previous %}disabled{% endif %} />
	  	  </form>
		</li>
		<li>
	  	  <form action="/analytics/search" method="get">
		    <input type="hidden" name="paginate_by" 
			   value="{{ paginate_by }}" />
	  	    {% if page_obj.has_next %}
		    <input type="hidden" name="page" 
			   value="{{ page_obj.next_page_number }}" />
		    {% endif %}
	  	    <input type="submit" name="submit" value="next"
			   {% if not page_obj.has_next %}disabled{% endif %}/>
	  	  </form>
		</li>
	      </ul>
	      {% endif %}
	    </div>
	  </td>
	</tr>
    </tfoot>
</table>

{% else %}
<h3>Players</h3>
<p>No players found!</p>
{% endif %}
